.favorites-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0a1e5b;
    
  }
  .favorites-container h2 {
    color: #f7f2eb;
    font-size: 30px;
  }

  .field-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .field-card img {
    width: 150px; 
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .field-details {
    flex-grow: 1;
  }
  
  .field-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color:#ecc795;
  }
  
  .field-details p {
    margin-bottom: 5px;
    color: #f3ddbe;
  }

  .field-details p:last-child {
    margin-bottom: 10px;
  }
  
  .field-name {
    color:#f3ddbe;
  }
  
.btn-back {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 300px; 
  margin-top: -190px;
  background-color: #007bff;
  color: #fff;
}

.btn-back:hover {
  background-color: #0056b3;
}