<div class="container-fluid  ">
    <h3 class="h3 mb-5" style="  font-size: 35px; color: #2f479e" >Book Now ! </h3>
<div class="row flex-nowrap overflow-auto mb-5 d-flex justify-content-center">
      @for(tp  of types; track tp.name)
      {
        <div class="col-md-2">
          <div class="text-center">
            <img src={{tp.img}} class="rounded-circle"  style=" width:170px; height:170px">
            <div class="mt-2">
              <a   routerLink="/fields/type/{{ tp.type }}" style="font-size: 17px; color: #495889; text-decoration: none;" ><b>{{ tp.name }}</b></a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
