@if(checkUser){
<div class="bookings-container">
  <div style="display: flex; justify-content: space-between;">
    <h2>My Bookings</h2>
    <h4 class="p-2 bg-primary text-white rounded">Total: {{ total | currency:'EGP'}}</h4>
  </div>
    <div>
      <ng-container *ngFor="let field of fields">
        <ng-container *ngFor="let id of bookedFieldsID">
          @if(id.id === field.id){
            
            <div class="field-card">
              <img src="assets/{{ field.img }}" alt="{{ field.name }}">
              <div class="field-details">
                <p><b>Filed</b>: <a routerLink="/fields/{{field.id}}"  class="field-name" style="color: #ebeff5; text-decoration: none;">{{ field.name }}</a></p>
                <p><b>Slot</b>: {{id.slot}}:pm</p>
                <p><b>Price</b>: <b style="color: white;">{{ field.price | currency:'EGP'}}</b></p>
                <p><b>Type</b>: {{ field.type }}</p>
              </div>
              <div style="align-items: center; display: flex;flex-direction: column;">
                <button type="button" class="btn btn-success" (click)="Pay(field.id,id.slot)" >Pay Now</button>
                <br>
                <button type="button" class="btn btn-danger" (click)="Delete(field.id,id.slot)" >Delete</button>
              </div>
            </div>
            }
        </ng-container>
      </ng-container>
    </div>
    <button class="btn btn-back" [routerLink]="['/profile']">Back</button>
  </div>
}
