@if(checkUser){
<div class="bookings-container">
    <h2>My Bookings</h2>
    <div>
      <ng-container *ngFor="let field of fields">
        <ng-container *ngFor="let id of bookedFieldsID">
          @if(id.id === field.id){
            <div class="field-card">
              <img src="assets/{{ field.img }}" alt="{{ field.name }}">
              <div class="field-details">
                <p>Field: {{field.name}}</p>
                <p>Slot: {{id.slot}}:pm</p>
                <p>Price: <b style="color: white;">{{ field.price | currency:'EGP'}}</b></p>
                <p>Type: {{ field.type }}</p>
              </div>
              <div style="align-items: center; display: flex;flex-direction: column;">
                <button type="button" class="btn btn-success" (click)="payORdelete(field.id,id.slot)" >Pay Now</button>
                <br>
                <button type="button" class="btn btn-danger" (click)="payORdelete(field.id,id.slot)" >Delete</button>
              </div>
            </div>
            }
        </ng-container>
      </ng-container>
    </div>
    <button class="btn btn-back" [routerLink]="['/profile']">Back</button>
  </div>
}