<div class="container">

    <img src = "./assets/profile.png">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="email" name="email" placeholder="email" formControlName = "email">
        <input type="password" name="password" placeholder="password" formControlName = "password">
        <button>Login</button>
    </form>

    
    <p-toast />

</div>
<div class="textContainer">
    <p>Doesn't have account? <span><a routerLink="/register">Register</a></span> </p>
</div>


