<div class="container-fluid" style="margin: 10px; margin-left: 50px;">
    <h3 class="h3 " style="  font-size: 30px; color: #2f479e; margin-top: 100px; margin-bottom: 30px;" >Welcome to {{type}} fields </h3>
  <div class="row flex-nowrap overflow-auto">
  @for(field of fields; track field){
     <div class="col mr-1" style="display: flex;">
       <div class="card" style="width: 20rem;">
         <img class="card-img-top" src="assets/{{field.img}}" >
          <div class="card-body">
            <h5 class="card-title" style="color: #2f479e; font-weight: bolder;">{{field.name}}</h5>
            <p class="card-text"  style="color: #2f479e;"> <strong >Type:</strong> {{field.type}}</p>
            <p class="card-text" style="color: #2f479e;"> <strong >Price:</strong>  {{ field.price  | currency:'EGP'}}</p>
            <a routerLink="/fields/{{field.id}}" class="btn btn-primary" style="background-color:#0a1e5b ;">See Details</a>
          </div>
       </div>
      </div>
  }
  </div>
  </div>