<div style="padding: 0;">
    <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; background-color: #2f479e; box-shadow: 0px 0.1px 8px 0px white;">
        <h3 style="text-align: start; color: #ebeff5; margin-left: 25px; margin-top: 10px;">Feilds</h3>
        <h3 style="text-align: start; color: #ebeff5; margin-right: 25px; margin-top: 10px;">SORT</h3>
    </div>
    <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;"> 
        @for (feild of feilds; track feild.id) {
            <app-feild [oneFeild]="feild" style="margin:20px;"></app-feild>
        }
    </div>
</div>