    @if (feild) {
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="background-color: #2f479e; width: 800px; margin: 15px; padding: 15px; box-shadow: 0px 1px 15px 0px white;border-radius: 15px;">
                <div  style="display: flex; flex-direction: row-reverse;">
                    <a routerLink="/fields" class="btn btn-danger" style="color: #ebeff5;"><b>x</b></a>
                </div>

                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="width: 400px; height: 230px;">
                        <img src="/assets/{{feild.img}}" alt="" class="img-thumbnail border border-white" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
            
                    <div style="width: 400px; display: flex; flex-direction: column; align-items: center;">
                        <h5 style="color: #ebeff5;">Name : {{feild.name}}</h5>
                        <h5 style="color: #ebeff5;">Type : {{feild.type}}</h5>
                        <h5 style="color: #ebeff5;">Price : {{feild.price}}</h5>
                    </div>
                </div> 
                <div style="border: 2px solid #ebeff5; margin-top: 10px;"></div>
                <div style="align-items: center; display: flex; justify-content: center;">
                    @if(feild.available){
                        <a class="btn btn-outline-dark" style="background-color: #ebeff5;margin-top: 10px;">BOOK</a>
                    }
                    @else{
                        <a class="btn btn-outline-dark" disabled style="background-color: Red;cursor: not-allowed; color: #ebeff5;margin-top: 10px;">BOOKED</a>
                    }
                </div>
            </div>
    </div>

    <div style="border: 2px solid #ebeff5; margin: 10px;"></div>
    <div style="text-align: center;">
        <h3 style="  margin: 10px;background-color: #6f95d3;color: #ebeff5; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Description</h3>
        <p style="font-family: monospace; color:#ebeff5; margin-top: 15px; margin: 10px; text-align: start;">
            
            Welcome to <b>{{feild.name}}</b>, <br><br> where the thrill of the game meets the comfort of community! Our dynamic field is the perfect canvas for <b>{{feild.type}}</b> enthusiasts to showcase their skills and share unforgettable moments with friends. <br>
            
            Step onto our pristine turf, feel the rush of adrenaline as you chase the ball, and experience the excitement of scoring that winning goal.<br> At <b>{{feild.name}}</b>, we're all about creating a welcoming space where <b>{{feild.type}}</b> lovers of all levels can come together and enjoy the beautiful game.
            
            <br><br>With a rental rate of just <b>{{feild.price}}</b>, <br> <b>{{feild.name}}</b> offers affordable access to premium <b>{{feild.type}}</b> facilities, ensuring that every player can indulge in their passion without breaking the bank. <br>So gather your team, bring your materials, and get ready for an epic match at <b>{{feild.name}}</b>!
            
            <br><br>Join us and be part of the action. Book your slot now and let the games begin!
        </p>

    </div>
    }@else {
        <h1 class="alert alert-danger">Loading...</h1>
    }

